.container {
  display: flex;
}

.flex-direction{
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: 40px 40px;
}

aside div {
  background-color: black;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

aside section {
  border: 1px solid black;
}

.position {
  background-color: red;
  position: fixed;

  right: 10px;
  bottom: 10px;
  z-index: 10;
  opacity: 0.5;
}

/* Variáveis */

:root {
  --bg-color: darkgreen;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.variavel {
  --bg-color: lightgreen;
  --text-color: black;
  width: 100px;
  height: 100px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}