.container {
  display: flex;
}

.flex-direction{
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: 40px 40px;
}
